@model Error
@using JE_PracticalTask.Models;

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h3>
        @Model.ErrorMessage
    </h3>
}
